@{
    Layout = "";

}

@using bbsaha.Models.Certificate
<link href="~/css/sb-admin-2.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link href="~/css/fontawesome-free/css/all.css" rel="stylesheet" />

<script src="~/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/jquery-3.5.1.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/Scripts/umd/popper.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="~/Scripts/vendor/chart.js/Chart.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.6.0/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.0/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-append-version="true" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.6.0/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.0/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
<style>
    .display-flex {
        display: flex;
        display: -webkit-box;
        margin-top: 10px
    }

    .flex-a {
        width: 35%;
    }

    .flex-b {
        width: 65%
    }

    .flex-in-a {
        width: 30%;
    }

    .flex-in-b {
        width: 70%
    }

    body, button, h1, h2, h3, h4, h5, input, option {
        font-family: 'Sarabun', sans-serif !important;
        /*font-weight: 800 !important;*/
        /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    }
    .backcola {
        background-color: #aeb9c9 !important
    }
</style>


<div style="width: 100%;margin-bottom:10px;">
    <div class="display-flex">
        <div class="flex-a">
            @*<img src="~/asset/img/2022-09-28_13-38-51.png" style="width:90%;margin-top: 10px" />*@
            <img src="~/asset/img/2022-09-28_13-38-51.png" style="width:70%;margin-top: 10px"/>
        </div>
        <div class="flex-b">
            <span style="white-space:pre-line;text-align:center">
                บริษัท บีบี สหคลินิก จำกัด สำนักงานใหญ่ 556/29-30  ม.3  ต.บ่อวิน  อ.ศรีราชา  ชลบุรี 20230
                BB Saha Clinic Head Office Co., Ltd. 556/29-30 Moo 3  Bowin District  Sriracha, Chonburi 20230
                Tel. 098-227-6784  E-mail.  sahaclinic .bb@gmail.com   ใบอนุญาติเลขที่ 2011000095
            </span>
        </div>
    </div>
</div>

<div style="width: 100%;">
    <table width="100%" border="1">
        <tr>
            <td class="backcola" colspan="2" style="text-align:center">รายงานผลตรวจเอกเรย์ ( Sereeing Chest X-Ray )</td>
        </tr>
        <tr>
            <td class="backcola" style="text-align: center; width: 30%">ชื่อ-สกุล/Name-Sumame</td>
            <td style="text-align: center; width: 70%"></td>

        </tr>
        <tr>
            <td class="backcola" style="text-align: center;">บริษัท (Company)</td>
            <td></td>
        </tr>
        <tr>
            <td class="backcola" style="text-align: center;">เลขบัตรประชาชน</td>
            <td></td>
        </tr>
        <tr>
            <td class="backcola" style="text-align: center;">อายุ/Age</td>
            <td></td>
        </tr>
        <tr>
            <td class="backcola" style="text-align: center;">เพศ/Sex</td>
            <td></td>
        </tr>
        <tr>
            <td class="backcola" style="text-align: center;">วันที่ตรวจ/Date</td>
            <td></td>
        </tr>
        <tr>
            <td class="backcola" style="text-align: center;">เวลา/Time</td>
            <td></td>
        </tr>
        <tr>
            <td class="backcola" colspan="2" style="text-align:center">ผลการตรวจเอกเรย์ ( Sereeing Chest X-Ray )</td>
        </tr>
        <tr>
            <td style="text-align: center;">ปกติ</td>
            <td style="text-align: center;">ผิดปกติ</td>
        </tr>
        <tr>
            <td height="150px" style="text-align:center; vertical-align:middle;">-</td>
            <td style="vertical-align:middle"></td>
        </tr>
        <tr>
            <td colspan="2" height="80px" style="text-align: center;">รายงานผลตรวจเบื้องต้นโดย…......................................................................................ต่ำแหน่งนักรังสีการแพทย์</td>
        </tr>
    </table>
</div>